body{
	margin: 0;
	padding: 0;
}
.footerholder{
	position:fixed;
   	left:0px;
   	bottom:0px;
	width: 100vw;
	background: #f34213;
	height: 5vh;
}
.footerholder p{
	margin:0;
	margin-left: 10vw;
	margin-top: 10px;
	color: white;
	font-family: 'ABeeZee', sans-serif;
	font-size: 12px;
}